Final/__pycache__/functions.cpython-39.pyc
Final/.DS_Store
.DS_Store
Final/__pycache__/functions.cpython-39.pyc
Final/config.py
Final/__pycache__/telegram.cpython-39.pyc
Final/__pycache__/config.cpython-39.pyc
